<section class="topbar-container">
    <div class="bubble">
        <div class="topbar-icon">
            <img class="main-logo" [src]="imagen" [width]="ancho" [height]="alto">
        </div>
        <div class="topbar-title-div">
            <h1>Wolfcat Studios</h1>
        </div>
    </div>
   
    <div class="topbar-social-containter">
        <div class="icon-top topbar-youtube">
            <a media="all" type="text/html" href="https://www.youtube.com/channel/UCgi4kRMSIcH2la9uC_ifiDA" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        </div>
        <div class="icon-top topbar-itch">
            <a media="all" type="text/html" href="https://wolfcat-studios.itch.io/" target="_blank"><i class="fa-brands fa-itch-io"></i></a>
        </div>
        <div class="icon-top topbar-x">
            <a media="all" type="text/html" href="https://twitter.com/DevWolfcat" target="_blank"><i class="fa-solid fa-x"></i></a>
        </div>
    </div>
</section>