.bubble{
    position: relative;
    background-color: #3c9f9f;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.bubble::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(126, 73, 196);
    border-bottom-right-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
    z-index: -1;
}

.topbar-title-div{
    padding:10px 0;
    font-size: 26px;
}

.topbar-container{
    text-align: center;
    font-weight: bolder;
    color: white;
}

.topbar-icon > img{
    border-radius: 100%;
    background:  url('./../../assets/stars-bg.png'),linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-blend-mode: overlay;
    background-size: cover;
    transition: 0.3s ease-in-out;
}

.topbar-icon > img:hover {
    transform: scale(1.2);
}

.topbar-social-containter{
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #3c9f9f;
}

.icon-top{
    flex: 1;
    transition: 0.3s ease-in-out;
}

.icon-top > a{
    color: white;
    font-size: 5vh;
    display: block;
}

.topbar-youtube:hover{
    background-color: red;
}

.topbar-x:hover{
    background-color: black;
}

.topbar-itch:hover{
    background-color: orange;
}

@media (max-width:500px){
    .icon-top > a{
        font-size: 5vh;
    }
}

@media (max-height:800px) {
    .main-logo{
        width: 10vh!important;
        height: 10vh!important;
    }
}