<section class="main-content-info">
    <div class="header-info">
        <h2>{{titulo}}</h2>
    </div>
    <div class="container-content">
        <div class="info-content info-right">
            <div class="header-card-content">
                <img src={{qualityMarkImg}} alt="Quality Mark" title="Quality Mark" class="header-card-img">
                <h3><b>Pasión por los videojuegos:</b></h3>
            </div>
        </div>
        <div class="info-content info-left">
            <div class="header-card-content">
                <img src={{qualityMarkImg}} alt="Quality Mark" title="Quality Mark" class="header-card-img">
                <h3><b>Recreaciones de juegos antiguos:</b></h3>
            </div>
        </div>
    </div>
</section>