.header-info{
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.container-content{
    display: flex;
    margin: 0 10%;
    flex-wrap: wrap;
}

.info-content{
    flex: 1;
}

.header-card-content{
    text-align: center;
}

.header-card-img{
    height: 5vh;
}