@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';

*{
    font-family: 'Roboto Slab', serif;
}

body{
    background-color: rgb(84, 13, 223);
    background-image: url('assets/MoonCat.svg');
    background-repeat: no-repeat;
    background-position: center 35vh;
    background-size: 10%; /* Puedes ajustar este valor para cambiar el tamaño de la imagen */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}