@import "~normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.css';

*{
    font-family: 'Roboto Slab', serif;
}

body{
    background-color: rgb(84, 13, 223);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1{
    font-size: 4vh;
}

/*Contenedor FLEX-BOX para alinear los items horizontalmente*/
.container-content{
    display: flex;
    margin: 0 10%;
    flex-wrap: wrap;
}

@media(max-width:996px) {
    .container-content{
        display: block;
    }
}


/*Ocupar todo el espacio disponbile del contenedor FLEX-BOX*/
.info-content{
    flex: 1;
}

@media(max-width:530px)  {
    h1{
        font-size: 1em;
    }
}
