.info-center{
    text-align: center;
}

.header-card-img{
    height: 5vh;
}

.header-card-content{
    text-align: center!important;
    font-size: 3vh;
}

.card-content{
    margin: 2% 15%;
    text-align: justify;
    font-size: 2.4vh;
}